In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv('Iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [58]:
# # Group the data by a categorical variable (e.g., 'species')
# grp_data = df.groupby('Species')

# # Select the specific species
# selected_species = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

# # Filter the data for the selected species
# # filtered_data = grp_data.get_group(selected_species)
# filtered_data = df[df['Species'].isin(selected_species)]

# # Calculate basic statistics for the filtered data
# statistics = filtered_data.describe()
# # Print the statistics
# print(statistics)

In [59]:
# for sp in df['Species']:
#     w=df['SepalLengthCm'].mean()
#     h=df['SepalWidthCm'].mean()
#     x=df['SepalWidthCm'].mean()
#     y=df['SepalWidthCm'].mean()

In [60]:
# df.describe()

In [61]:
# sns.barplot(x='Species' ,y ='SepalLengthCm', data = df)

In [62]:
grp_data=df.groupby('species')
# print(grp_data)
# df.dtypes
grp_data
grp_data.describe()

           sepal_length
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8  \
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244  \
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.107210  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [64]:
for gname, gdata in grp_data:
  print(f"Species : {gname}")
  print("Percentiles are : ")
  print(grp_data.describe())
  print("mean : ")
  print(gdata.mean())
  print("std : ")
  print(gdata.std())

Species : setosa
Percentiles are :
           sepal_length
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8  \
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244  \
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.107210  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]
mean :

TypeError: Could not convert ['setosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosa'] to numeric

In [ ]:
for gdata in grp_data:
#   print(f"Species : {gname}")
  print("mean : ")
  print(grp_data.mean())
  # print("std : ")
  # print(gdata.std())

mean :
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
Species
Iris-setosa       25.5          5.006         3.418          1.464  \
Iris-versicolor   75.5          5.936         2.770          4.260
Iris-virginica   125.5          6.588         2.974          5.552

                 PetalWidthCm
Species
Iris-setosa             0.244
Iris-versicolor         1.326
Iris-virginica          2.026
mean :
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
Species
Iris-setosa       25.5          5.006         3.418          1.464  \
Iris-versicolor   75.5          5.936         2.770          4.260
Iris-virginica   125.5          6.588         2.974          5.552

                 PetalWidthCm
Species
Iris-setosa             0.244
Iris-versicolor         1.326
Iris-virginica          2.026
mean :
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
Species
Iris-setosa       25.5          5.006         3.418          1.464  \
Iris-versicolor   75.5          5.936         2.770          4.260
Iris-virginica   125.5          6.588         2.974          5.552

                 PetalWidthCm
Species
Iris-setosa             0.244
Iris-versicolor         1.326
Iris-virginica          2.026